@import "tailwindcss";

@theme {
  /* =================================
       PURPLE SCHOOL WEBSITE THEME
       Change colors from here only
    ================================= */

  /* Primary - Royal Purple */
  --color-primary: #6d28d9;
  --color-primary-dark: #4c1d95;
  --color-primary-light: #f3e8ff;

  /* Secondary - Indigo */
  --color-secondary: #7c3aed;
  --color-secondary-dark: #5b21b6;
  --color-secondary-light: #ede9fe;

  /* Accent - Gold */
  --color-accent: #f4b942;
  --color-accent-dark: #d99a20;
  --color-accent-light: #fff8e7;

  /* Status */
  --color-danger: #dc2626;

  /* Background */
  --color-background: #eeeaf6;
  --color-surface: #ffffff;

  /* Border */
  --color-border: #ddd6fe;
  --color-border-light: #ede9fe;

  /* Text */
  --color-text: #334155;
  --color-text-light: #64748b;
  --color-text-muted: #94a3b8;

  /* =================================
       MARQUEE
    ================================= */

  --animate-marquee: marquee 25s linear infinite;

  --font-bangla: var(--font-bangla);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}
